__pycache__/
*.py[cod]

.venv/
venv/
env/
.env

.ipynb_checkpoints/
.DS_Store

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep

results/figures/*
results/metrics/*
!results/figures/.gitkeep
!results/metrics/.gitkeep
